<!--#contenedor general-->
  <div id="wrap" class="wrap">
    <!--header-->
    <app-header></app-header><!--header-->

   
 
     <!--main-->
     <main>
     <!--todos-->
     <div id="todos" class="col s12">
       <div class="row">
         
         <!--filtros-->
          <div class="filtros">
             <div class="col s12"></div>
             <div class="col s12 m12 l12 xl12">
               <form class="center-align">
                 <div class="input-field col s12 m5 right-align">
                   <p class="right-align">Buscar por marca:</p>
                 </div>
                 <div class="input-field col s12 m5 l3">
                   <select class="smarcas">
                     <option value="0" selected>Todas las marcas</option>
                     <option *ngFor="let marca of equiposActivos" value="{{marca.provider}}" >{{marca.providerName}}</option>      
                   </select>
                 </div>
               </form>
             </div>
          </div><!--filtros-->
          <!-- <ul *ngFor="let color of coloresEquipo">

            <li>{{color.name}}</li>
          </ul>-->

  <!--loading
     <div class="loading">
       <div class="preloader-wrapper big active">
         <div class="spinner-layer spinner-blue-only">
           <div class="circle-clipper left">
             <div class="circle"></div>
           </div><div class="gap-patch">
             <div class="circle"></div>
           </div><div class="circle-clipper right">
             <div class="circle"></div>
           </div>
         </div>
       </div>
     </div>loading-->

          <div class="col s12 m6 l4 xl3 item" *ngFor="let equipo of equiposActivos"  id="{{equipo.id}}" >
            <p class="marca">{{equipo.providerName}}</p>
            <p class="nombre truncate">{{equipo.name}}</p>
            <!--imagen-->
            <div class="xp-ct-img-prop">
              <div class="xp-type-color">
                <div class="xp-img-prop">
                  <img [src]="equipo.main_image_resolutions.main_image_128" alt="" class="img-prop view">
                </div>
              </div>
            </div><!--imagen-->
            <div class="colores">
              <ul><!--*ngFor="let color of equiposActivos.colorEquipo"-->
                <li *ngFor="let color of equipo.colors" class="{{color.name}}"></li>  
              </ul>
            </div>
            <div class="boxprecios">
              <div><span class="titulo">Precio prepago:</span><span class="valor">${{equipo.precio}}</span></div>
            </div>
            <button style="margin-top:20px;" (click)="obtenerId(equipo.id)" type="button" class="btn btn_entel modal-trigger" id="id_75" href="#modal" >
              <a class="modal-trigger" href="#modal">Ver detalle_</a>
            </button> 
          </div>  
       </div>
     </div><!--todos-->
 
     <!--multimedia-->
     <div id="multimedia" class="col s12">
       <div class="row">
         <!--filtros-->
         <div class="filtros">
             <div class="col s12"></div>
             <div class="col s12 m12 l12 xl12">
               <form class="center-align">
                 <div class="input-field col s12 m5 right-align">
                   <p class="right-align">Buscar por marca:</p>
                 </div>
                 <div class="input-field col s12 m5 l3">
                   <select class="smarcas">
                     <option value="0" selected>Todas las marcas</option>      
                   </select>
                 </div>
               </form>
             </div>
           </div><!--filtros-->
         
       </div>
     </div><!--multimedia-->
 
     <!--energia-->
     <div id="energia" class="col s12">
       <div class="row">
         <!--filtros-->
         <div class="filtros">
             <div class="col s12"></div>
             <div class="col s12 m12 l12 xl12">
               <form class="center-align">
                 <div class="input-field col s12 m5 right-align">
                   <p class="right-align">Buscar por marca:</p>
                 </div>
                 <div class="input-field col s12 m5 l3">
                   <select class="smarcas">
                     <option value="0" selected>Todas las marcas</option>      
                   </select>
                 </div>
               </form>
             </div>
           </div><!--filtros-->     
       </div>
     </div><!--energia-->
 
     <!--proteccion-->
     <div id="proteccion" class="col s12">
       <div class="row">
         <!--filtros-->
         <div class="filtros">
             <div class="col s12"></div>
             <div class="col s12 m12 l12 xl12">
               <form class="center-align">
                 <div class="input-field col s12 m5 right-align">
                   <p class="right-align">Buscar por marca:</p>
                 </div>
                 <div class="input-field col s12 m5 l3">
                   <select class="smarcas">
                     <option value="0" selected>Todas las marcas</option>      
                   </select>
                 </div>
               </form>
             </div>
           </div><!--filtros-->
         
       </div>
     </div><!--proteccion-->
     </main><!--main-->
 
     <i id="subir" class="material-icons">&#xE316;</i>

 
   </div><!--#contenedor general-->
  

   <div id="modal" class="modal">
    <a href="#!" class="modal-action modal-close waves-effect close"><i class="material-icons">&#xE5CD;</i></a>
    <!--body modal -->
    <div class="modal-content" *ngFor="let equipo of equiposActivos" >
      <div class="row ficha" id="" ><!--*ngIf="equipo.id = "*ngFor="let equipo of equiposActivos"-->
        <div class="col s12 m6">
          <div class="img">
            <img class="imgm" src="">
          </div>
        </div>
        <div class="col s12 m6">
          <div class="m marca"></div>
          <div class="m nombre">{{equipo.name}}</div>
          <!--detalles -->
          <div class="m detalle">
            
          </div><!--detalles -->
          <!--boxprecios -->
          <div class="boxprecios">   
              <div>
                <span class="titulo">Precio Normal</span>
                <span class="m valor dos"></span>
              </div>
              <div>
                <span class="m titulo">Cliente Entel</span>
                <span class="m valor ent"></span>
              </div>
            </div><!--boxprecios -->
            <p class="titulo">Equipos compatibles:</p>
            <div class="carouselbox"></div>    
        </div>
      </div>
    </div><!--body modal --> 
  </div>
  <!-- Modal -
  <app-modal></app-modal> Modal -->
  




