<div id="modal" class="modal">
  <a href="#!" class="modal-action modal-close waves-effect close"><i class="material-icons">&#xE5CD;</i></a>
  <!--body modal -->
  <div class="modal-content">
    <div class="row ficha" id=""><!--*ngIf="equipo.id = "*ngFor="let equipo of equiposActivos"-->
      <div class="col s12 m6">
        <div class="img">
          <img class="imgm" src="">
        </div>
      </div>
      <div class="col s12 m6">
        <div class="m marca"></div>
        <div class="m nombre"></div>
        <!--detalles -->
        <div class="m detalle">
          
        </div><!--detalles -->
        <!--boxprecios -->
        <div class="boxprecios">   
            <div>
              <span class="titulo">Precio Normal</span>
              <span class="m valor dos"></span>
            </div>
            <div>
              <span class="m titulo">Cliente Entel</span>
              <span class="m valor ent"></span>
            </div>
          </div><!--boxprecios -->
          <p class="titulo">Equipos compatibles:</p>
          <div class="carouselbox"></div>    
      </div>
    </div>
  </div><!--body modal --> 
</div>