
#wrap {
	min-height:100%;
	position:relative;
}
#header {
	z-index: 999;
	#iconmenu{
		margin: 0 18px 0px 10px;
	}
}
#moresetting{
	position: absolute;
	right:0px;
	margin-right: 0px;
	display: none;
}

#slide-out2{
	#menuopciones{
		display: block !important;
	}
}
.rota180{
	-webkit-animation:spin 0.1s linear forwards;
    -moz-animation:spin 0.1s linear forwards;
    animation:spin 0.1s linear forwards;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }


#slide-out {
		z-index: 998;
		top:65px !important;
		.arrow {
			float: right;
			right: 0px;
			position: absolute;
		}
	.collapsible{
		.collapsible-header{
			padding: 0 20px;
			&.active {
				.arrow{
					-ms-transform: rotate(180deg); /* IE 9 */
					-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
					transform: rotate(180deg);
				}
			}
			.material-icons{
				margin-right: 20px !important;
			}
		
		}
	}
}

#loading {
	margin-top: -56px;
	height: 100vh;
	text-align: center;

	.preloader-wrapper{
		margin: 0 auto;
	}
}
#contenido {
	padding-bottom:96px; /* Height of the footer element */
	display: none;
}
#footer {
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
	right: 0px;
}
.dropdownbox {
	li {
	position:relative;
	}
	.dropdown-content{
	min-width:100%;
	}
}
#footer {
	text-align: center;
}
input[type=text] {/* padding-left:10px !important;*/}
input.validate {
	/*padding-left:10px !important;
	background:#eee !important;*/
}
.nmb {
	margin-bottom: 0px;
}

.nptb {
	padding-top: 0px;
	padding-bottom: 0px;
}
.wrap {
.breadbox {
	box-shadow: none;
	background: none !important;
	height:40px;
	color:#999 !important;
	.breadcrumb{
		&::before{
			color:#999 !important;
			font-size:14px;
			line-height:41px;
		}
		&.activo {
			cursor: default !important;
			&:hover{
	 			text-decoration:none;
	 		}
		}
	}
	i {
		
	}
	* {
		background: none !important;
		height:40px;
		line-height:40px !important;
		color:#999 !important;
	}
	a {
		color:#999 !important;
		line-height:40px !important;
		font-size: 14px;
	 	&:hover{
	 		text-decoration:underline;
	 	}
	}
}
	
.brand-logo {
	img {
	width:30%;
	}
}


	#slide-out {
		top:0px;
		z-index: 9999;
	}
	.menutop {
		z-index:1000 !important;
		
		.button-collapse {
		display:block;
		}
	}

	.menuinvisible {
		transform: translateX(-100%) !important;
		    -webkit-transition: 0.3s ease-in-out;
	    -moz-transition:0.3s ease-in-out;
	    -o-transition: 0.3s ease-in-out;
	    transition: 0.3s ease-in-out;
	}
	.menuvisible {
		transform: translateX(0%) !important;
		  -webkit-transition: 0.3s ease-in-out;
	    -moz-transition:0.3s ease-in-out;
	    -o-transition: 0.3s ease-in-out;
	    transition: 0.3s ease-in-out;/**/

	}
}


.nodesktop{
	display: none !important;
}
.liuser {

	&:hover{
		background:none !important;
	}
}
.dropdownbox {
	.user-view {
		min-width: 200px;
	}
	.user-view,
	  .userView {
	    position: relative;
	    /*padding: ($sidenav-padding * 1) ($sidenav-padding * 1) 0;
	    margin-bottom: $sidenav-padding / 2;*/

	    & > a {
	      &:hover { background-color: transparent; }
	      height: auto;
	      padding: 0;
	    }

	    .background {
	      overflow: hidden;
	      position: absolute;
	      top: 0;
	      right: 0;
	      bottom: 0;
	      left: 0;
	      z-index: -1;
	    }

	    .circle, .name, .email {
	      display: block;
	    }

	    .circle {
	      height: 64px;
	      width: 64px;
	    }

	    .name,
	    .email {
	     /* font-size: $sidenav-font-size;
	      line-height: $sidenav-line-height / 2;*/
	    }

	    .name {
	      margin-top: 16px;
	      font-weight: 500;
	    }

	    .email {
	      padding-bottom: 16px;
	      font-weight: 400;
	    }
	  }
}

// Border radius shorthand
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

/* @include border-radius(5px 10px 15px 20px);*/

ul {
	li {
		.badge{
			@include border-radius(60%);
			color: #ffffff;
			width: 22px;
			height:22px !important;
			min-width:0;
			line-height: 22px;
			font-size:12px;
			margin-top: 5px;
			margin-right: 2px;
			padding: 0px;
		}
	}
}

#dnotificaciones {
	span {
		display: block;
		width: 100%;
		color: #999;
		font-size: 12px;
	}
}
.dropdown-button{
	&.active {
		background:rgba(0, 0, 0, 0.1);
	}
}
.dropdown-content{
	li {
		min-height: 0;
		a {
			padding: 10px 15px;
		}
	}

}
.menuleft {
	> li {
		> a {
			padding: 0 20px;

		}
		&:first-child{
			padding-left:20px;
		}
		/**/
		/*border-bottom: 1px solid #999;*/
		> i {
			margin-right: 20px;
		}
		.material-icons{
			margin-right: 20px !important;
		}
	}
	.divider {
		margin-top: 0px;
	}
}

#dnotificaciones {
	li {
		&:first-child{
			a{ 
				background:none;
				&:hover{
				background:#fff;
				color:#1976D2;
					span {
						color: #666;
					}
				}
			}
			
		}
		a{
			&.activo{
				background:#eee;
			}
			&:hover{
				background: rgba(0,0,0,0.1);
				color: #1976D2;
				span {
					color: #666;
				}
			}
		}
	}
}